{% load static %}
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <div class="logo_phone">
          <a href="{% url 'shop:home' %}" class="logo">
            <span class="symbol"><img src="{% static "img/logo3.png" %}" alt="" /></span>
              <span class="title">SportZone</span>
        </a>
            <div class="phoneWrap">
                    <p class="phone">+375291658965</p>
        <p class="location">ул. Голодеда, 21</p>
            </div>
        </div>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
            <br>
            <ul class="actions">
                <li>
                    <a href="{% url 'cart:cart' %}">
                    <img src ="{% static "img/cart.jpg" %}" width="40" height="40" ></a>
                    <br>
                    <a href="{% url 'users:profile' %}">
                    <img src ="{% static "img/profile.png" %}" width="40" height="40" ></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Menu -->
<nav id="menu">
    <h2>Меню</h2>
    <ul>
        <li><a href="{% url 'shop:tag_list' %}">Все категории</a></li>
        <li><a href="{% url 'about:about_me' %}">О Компании</a></li>
    </ul>
</nav>