{% load static %}
{#{% block css %}#}
{#  <link rel="stylesheet" href="{% static "/css/headrer.css"%}" />#}
{#{% endblock %}#}

<header id="header">
    <div class="inner">
        <!-- Logo -->
          <a href="{% url 'store:home' %}" class="logo">
            <span class="symbol"><img src="{% static "images/logo3.png" %}" alt="" /></span>
              <span class="title">SportZone</span>
          </a>


        <!-- Nav -->
        <nav>
            <ul class="navigation">

                    <li><a href="{% url 'store:tag_list' %}">Все категории</a></li>
            </ul>

            <div class="icons">
                    <a href="{% url 'favs:favorites' %}">
                    <img src ="{% static "images/heart-regular.svg" %}" width="40" height="40" ></a>

                    <a href="{% url 'cart:cart' %}">
                    <img src ="{% static "images/cart-shopping-solid.svg" %}" width="40" height="40" ></a>

                   <a href="{% url 'users:profile' %}">
                    <img src ="{% static "images/circle-user-solid.svg" %}" width="40" height="40" ></a>
            </div>

        </nav>
    </div>
</header>
