{% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" class="button paginator">Prev</a>
{% else %}
  <a class="button paginator disabled">Prev</a>
{% endif %}
{% for i in page_obj.paginator.page_range %}
  {% if page_obj.number == i %}
    <a href="#" class="button paginator disabled">{{ i }}</a>
  {% else %}
    <a href="?page={{ i }}" class="button paginator">{{ i }}</a>
  {% endif %}
{% endfor %}
{% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="button paginator">Next</a>
{% else %}
  <a class="button paginator disabled">Next</a>
{% endif %}
